---
extends: default

ignore: |
  backups/
  reports/
  scripts/venv/

rules:
  line-length: disable
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  key-duplicates: enable
  truthy:
    allowed-values:
      - "true"
      - "false"
      - "yes"
      - "no"
      - "on"
      - "off"
